.mid-wrapper {
  width: 100%;
  height: 8em;
  background-color: #313131;
  @media #{$brk-medium} {
    display: none;
  }
}

.list2 {
  padding-top: 15px;
  display: flex;
  width: 100%;
  padding-left: 200px;
  padding-right: 200px;
  font-family: 'Open Sans', sans-serif;
}

#list-style {
  border-left: 1px solid #bdbdb7;
  padding-left: 10px;
  color:#dc7725;
}


.bottom-nav {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}


.list2 {
li {
  padding: 5px 0;
  font-size: 18px;
  font-family: 'Fjalla One', sans-serif;
  list-style: none;
  margin-right: 1em;
  }
a {
  list-style: none;
  text-decoration: none;
  color: #bdbdb7;
  }
}

.fa-search {
  opacity: .5;
}


.list2 li:nth-child(5) {
  display: flex;
  flex: 3;
}
