.container {
  @media #{$brk-narrow} {
    background-color: #d1d1c9;
  }
}

.trip {
  height:420px;
  max-width: 100%;
  @media #{$brk-narrow} {
    margin: 15px;
    border-radius: 5px;
  }
}
.row1, .row2 {
  display: flex;
  flex-direction: row;
  @media #{$brk-narrow} {
    flex-direction: column;
    display: flex;
  }
  @media #{$brk-medium} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}


.trip1 {
  background-image: url(../img/pic1.jpg);
  @extend %trip-container;
  flex: 2;
  @media #{$brk-medium} {
    flex: 1 1 100%;
  }
}

.trip2 {
  background-image: url(../img/pic3.jpg);
  @extend %trip-container;
  flex: 1;
}

.trip3 {
  background-image: url(../img/pic4.jpg);
  @extend %trip-container;
  flex: 1;
}

.trip4 {
  background-image: url(../img/pic5.jpg);
  @extend %trip-container;
  flex: 1;
}

.trip5 {
  background-image: url(../img/pic6.jpg);
@extend %trip-container;
flex: 1;
}

.trip6 {
  background-image: url(../img/pic7.jpg);
  @extend %trip-container;
  flex: 2;
  @media #{$brk-medium} {
    flex: 1 1 100%;
  }
}
